.container {
    position:fixed;
    left: 50%;
    margin-left: -450px;
    background: #ffffff;
    border: 2px gray solid;
    border-radius: 10px;
    width: 900px;
    height: 1000px;
    box-shadow: 10px 10px 5px #888888;
}
.video-player {
    padding: 32px 32px 16px 32px;
}

.youtube-input {
    margin-left: 32px;
    margin-top: 32px;
    resize: none;
    width: 806px;
    height: 413px;
    outline: 0px;
    border-radius:6px;
}

.mejs-drooble .mejs-controls {
    background: #2a575f;
    height: 64px;
}

.mejs-drooble .mejs-button,
.mejs-drooble .mejs-time {
    position: absolute;
    background: #2a575f;
}

.mejs-drooble .mejs-controls div.mejs-time-rail {
    width: 640px;
}

.mejs-drooble .mejs-controls .mejs-time-rail .mejs-time-total {
    width: 630px;
    left: 161px;
    top: 23px;
    background-color: none;
    background: url(../images/time-rail-total.png) repeat-x;
    height: 7px;
}
.mejs-drooble .mejs-controls .mejs-time-rail .mejs-time-buffering {
    height: 7px;
}
.mejs-drooble .mejs-controls .mejs-time-rail .mejs-time-loaded {
    background-color: none;
    width: 0;
    height: 7px;
}
.mejs-drooble .mejs-controls .mejs-time-rail .mejs-time-current {
    width: 0;
    height: 7px;
    background-color: none;
    background: url(../images/time-rail-current.png) repeat;
}
.mejs-drooble .mejs-controls .mejs-time-rail .mejs-time-handle  {
    display: block;
    margin: 0;
    width: 14px;
    height: 14px;
    top: -3px;
    border: 0;
    background: url(../images/SeekerBar.png) no-repeat;
}
.mejs-drooble .mejs-controls .mejs-time-rail .mejs-time-float {
    display: none;
}
.mejs-drooble .mejs-controls .mejs-playpause-button  {
    width: 68px;
    height: 64px;
}
.mejs-drooble .mejs-controls .mejs-playpause-button  button {
    width: 68px;
    height: 64px;
    background: url(../images/play.png);
    margin: 0;
    padding: 0;
}
.mejs-drooble .mejs-controls .mejs-playpause-button  button:hover{
    background: url(../images/play-hover.png);
}
.mejs-drooble .mejs-controls .mejs-pause button  {
    background: url(../images/pause.png);
}
.mejs-drooble .mejs-controls .mejs-pause button:hover{
    background: url(../images/pause-hover.png);
}

.mejs-drooble .mejs-controls .mejs-volume-button  {
    width: 68px;
    height: 64px;
    left:68px;
}
.mejs-drooble .mejs-controls .mejs-mute button {
    background: url(../images/sound.png);
    width: 68px;
    height: 64px;
    margin: 0;
    padding: 0;
}
.mejs-drooble .mejs-controls .mejs-mute button:hover {
    background: url(../images/sound-hover.png);
}
.mejs-drooble .mejs-controls .mejs-unmute button {
    background: url(../images/mute.png);
    width: 68px;
    height: 64px;
    margin: 0;
    padding: 0;
}
.mejs-drooble .mejs-controls .mejs-unmute button:hover {
    background: url(../images/mute-hover.png);
}
.mejs-drooble  .mejs-controls .mejs-volume-button .mejs-volume-slider {
    background: #fff;
    border: solid 1px #aaa;
    border-width: 1px 1px 0 1px;
    width: 22px;
    height: 65px;
    top: -65px;
}
.mejs-drooble  .mejs-controls .mejs-volume-button .mejs-volume-total {
    background: url(controls-ted.png) repeat-y -41px -66px;
    left: 8px;
    width: 6px;
    height: 50px;
}
.mejs-drooble  .mejs-controls .mejs-volume-button .mejs-volume-current {
    left: 8px;
    width: 6px;
    background: url(controls-ted.png) repeat-y -48px -66px;
    height: 50px;
}

.mejs-drooble  .mejs-controls .mejs-volume-button .mejs-volume-handle {
    display: none;
}

.mejs-drooble .mejs-controls .mejs-time {
    top: -27px;
    left: 750px;
    background: transparent;
}

.mejs-drooble .mejs-controls .mejs-time span {
    color: #ffffff;
}

.social-buttons {
    padding-right: 32px;
    height: 46px;
}

.social-buttons .video-like {
    width: 49px;
    height: 26px;
    display: inline-block;
    background: url(../images/like.png) no-repeat;
}
.social-buttons .video-like:hover {
    background: url(../images/like-hover.png) no-repeat;
}
.social-buttons .video-share {
    display: inline-block;
    position:absolute;
    width: 62px;
    height: 26px;
    left:100px;
    background: url(../images/share.png) no-repeat;
}
.social-buttons .video-share:hover {
    background: url(../images/share-hover.png) no-repeat;
}
.social-buttons .edit-button {
    position:absolute;
    display: inline-block;
    width: 56px;
    height: 26px;
    left: 706px;
    background: url(../images/edit.png) no-repeat;
}
.social-buttons .edit-button:hover {
    background: url(../images/edit-hover.png) no-repeat;
}
.social-buttons .delete-button {
    position:absolute;
    display: inline-block;
    width: 71px;
    height: 26px;
    left: 768px;
    background: url(../images/delete.png) no-repeat;
}
.social-buttons .delete-button:hover {
    background: url(../images/delete-hover.png) no-repeat;
}

.comment-textarea {
    width: 806px;
    height: 54px;
    resize: none;
    outline: 0px;
    border-radius:6px;
}

.comments-container {
    margin-left: 32px;
    width: 806px;
    max-height: 270px;
    overflow-y: auto;
    outline: 0px;
    border-radius:6px;
}
.comment-container {
    padding: 5px;
}

.comment-details {
    display: inline-block;
}

.userName {
    color: #41bcda;
    position: relative;
    top: -13px;
    margin: 0 0 0 8px;
    font-size: 20px;
}
.datePosted {
    color: gray;
    position: relative;
    margin: 0 0 8px 8px;
    font-size: x-small;
    top: -12px;
}
.comment-content {
   margin-left: 32px;
   margin-bottom: 10px;
}
.comment-social-buttons .like-button {
    margin-left: 32px;
    position: relative;
    width: 49px;
    height: 26px;
    display: inline-block;
    background: url(../images/like.png) no-repeat;
}
.comment-social-buttons .like-button:hover {
    background: url(../images/like-hover.png) no-repeat;
}
.comment-social-buttons .share-button {
    display: inline-block;
    position:relative;
    width: 62px;
    height: 26px;
    margin-left: 15px;
    background: url(../images/share.png) no-repeat;
}
.comment-social-buttons .share-button:hover {
    background: url(../images/share-hover.png) no-repeat;
}

.comment-social-buttons .comment-button {
    display: inline-block;
    position:relative;
    width: 86px;
    height: 26px;
    margin-left: 15px;
    background: url(../images/comment.png) no-repeat;
}
.comment-social-buttons .comment-button:hover {
    background: url(../images/comment-hover.png) no-repeat;
}

.comment-social-buttons .report-button {
    display: inline-block;
    position:relative;
    width: 86px;
    height: 26px;
    margin-left: 419px;
    background: url(../images/report.png) no-repeat;
}
.comment-social-buttons .report-button:hover {
    background: url(../images/report-hover.png) no-repeat;
}
.reply-tabs {
    margin-left: 32px;
    margin-top: 20px;
}
.reply-tabs .tab {
    display: inline-block;
    position: relative;

}
.reply-tabs .comment.tab{
    color: #555555;
}
.reply-tabs .photo.tab  {
    color: gray;
    margin-left: 15px;
}
.reply-tabs .feedback.tab    {
    color: gray;
    margin-left: 15px;
}
.reply-input {
    margin-top: 20px;
    margin-left: 32px;
    width: 791px;
    height: 55px;
    resize: none;
    outline: 0px;
    border-radius:6px;
}
